#top-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    height: 25px;
    z-index: 1000;
}

#graph {
    height: 900px;
}

h5 {
    font-size: 20px;
    color: white;
    padding-left: 5px;
    margin-top: 3px;
    font-family: 'Orbitron', sans-serif;
}